In [1]:
import pandas as pd
import datetime

In [2]:
df=pd.read_csv('ny.csv')

C:\Users\Nizar\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810375488535,-74.00258103213994,-240,Tue Apr 03 18:00:09 +0000 2012;;;;;;;;;;
0,979.0,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240.0,Tue Apr 03 18:00:25 +0000 2012;;;;;;;;;;
1,69.0,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240.0,Tue Apr 03 18:02:24 +0000 2012;;;;;;;;;;
2,395.0,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240.0,Tue Apr 03 18:02:41 +0000 2012;;;;;;;;;;
3,87.0,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240.0,Tue Apr 03 18:03:00 +0000 2012;;;;;;;;;;
4,484.0,4b5b981bf964a520900929e3,4bf58dd8d48988d118951735,Food & Drink Shop,40.690427,-73.954687,-240.0,Tue Apr 03 18:04:00 +0000 2012;;;;;;;;;;

In [4]:
def getHour(x):
    date=str(x)
    hour=date[11:19]
    return hour
def getDay(x):
    result='weekday'
    date=str(x)
    day=date[:3]
    if(day=='Sat' or day=='San'):
        result='weekend'
    return result
def getSeason(x):
    season=''
    date=str(x)
    month=date[4:7]
    seasons={'Sep':'fall','Oct':'fall','Nov':'fall','Dec':'winter','Jan':'winter','Feb':'winter','Mar':'spring','Apr':'spring'
             ,'May':'spring','Jun':'summer','Jul':'summer','Aug':'summer'}
    season=seasons[month]
    return season

In [5]:
def compare_time(x,y):
    result=False
    first_date_second=int(x[17:20])
    first_date_minute=int(x[14:16])
    first_date_hour=int(x[11:13])
    second_date_second=int(y[17:20])
    second_date_minute=int(y[14:16])
    second_date_hour=int(y[11:13])
    if(first_date_hour==second_date_hour):
        if(first_date_minute==second_date_minute):
            if(first_date_second<second_date_second):
                result=True
            else:
                result=False
        elif(first_date_minute<second_date_minute):
            result=True
        else:
            reuslt=False
    elif(first_date_hour<second_date_hour):
        result=True
    else:
        result=False
    return result

def compare_dates(x,y):
    result=False
    first_date_day=int(x[8:10])
    first_date_month=getMonth(df.iloc[2,7])
    first_date_year=int(x[26:30])
    second_date_day=int(x[8:10])
    second_date_month=getMonth(y)
    second_date_year=int(y[26:30])
    first_date = datetime.date(first_date_year, first_date_month, first_date_day)
    second_date = datetime.date(second_date_year, second_date_month, second_date_day)
    if(first_date==second_date):
        result=compare_time(x,y)
    elif(first_date<second_date):
        result=True
    else:
        result=False
    return result

In [7]:
def get_category_dic(df):
    dic={}
    for i in range(1,50):
        dic[df.iloc[i,1]]=df.iloc[i,3]
    return dic

In [8]:
def get_visited_pois(df,user_id):
    pois=[]
    for i in range(1,227426):
        if(df.iloc[i,0]==user_id):
            pois.append(i)
    return pois

In [9]:
def sort_visited_pois(df,pois):
    try:
        for i in range (0,len(pois)-1):
            index_min=i
            for j in (i+1,len(pois)-1):
                if(not(compare_dates(df.iloc[pois[i],7],df.iloc[pois[j],7]))):
                    index_min=j
            if(index_min!=i):
                tmp=pois[i]
                pois[i]=pois[index_min]
                pois[index_min]=tmp
        
    except:
        print(df.iloc[pois[j],7])
    return pois

In [10]:
def get_sorted_pois(df,user_id):
    pois=get_visited_pois(df,user_id)
    sorted_pois=sort_visited_pois(df,pois)
    return sorted_pois

In [13]:
# return a dictionnary: {user_id:sorted_visited_pois}
def get_users_pois(df):
    dic={}
    for i in range (0,2):
        user=df.iloc[i,0]
        if user not in dic:
            dic[df.iloc[i,0]]=get_sorted_pois(df,user)
    return dic